{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Shopping Bag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="responsive-table">
                    {{ bag_items }}
                </div>
            {% else %}
                <p>Your bag is empty.</p>
                <a class="transparent black-text btn-small" href="{% url 'appproducts' %}">
                    <i class="material-icons left">chevron_left</i>Keep Shopping
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}