@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html {
    height: 100%;
}
body {
    /*background: url('/media/archivo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);*/
    font-family: 'Noto Sans', sans-serif;
}
.nav-wrapper {
    background-color: white;
}
ul.right.hide-on-med-and-down li a, a.brand-logo, .sidenav-trigger {
    color: black;
}
div.col.s6 {
    padding-left: 0;
}
i.material-icons.rate-icon, i.material-icons.label-icon {
    font-size: 14px;
}
div.col.s12.prod-det {
    padding: 0;
    display: flex;
}
div.col.s12.m12.l6 h4 {
    margin-top: 0;
}

@media (max-width: 992px) {
    div.col.s12.m12.l6 h4 {
        margin-top: 20px;
    }
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}



div.input-field label.label-icon.active i.material-icons::before {

}
.preview-shopping-bag {
    display: none;
}
.shopping-bag::hover {
    display: flex;
    background: red;
}

#select_country, #select_station { display: none; }

a.brand-logo {
    font-size: 18px;
}

.flashes h4 { line-height: 2; }

.collapsible, .collapsible-header, .collapsible-body { border: none; }

button i.material-icons {
    font-size: 20px;
}

div.input-field.col.s12.m6 { margin: 0; }

/* slightly larger container on xl screens
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
 fixed top navbar only on medium and up
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}*/