{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        {% for c in current_categories %}
            <div class="col">
                <a class="waves-effect waves-light btn" href="{% url 'appproducts' %}?category={{ c.name }}">
                    {{ c.friendly_name }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <select id="sort-selector">
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
            </select>
        </div>
        <div class="col">
            <p>
                {% if search_term or current_categories != 'None_None' %}
                    <a href="{% url 'appproducts' %}">Products Home</a> |
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for "{{ search_term }}"{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    {% if product.image %}
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="activator" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        </div>
                    {% else %}
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="activator" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <span class="activator">{{ product.name }}</span>
                        <p>${{ product.price }}</p>
                        {% if product.category %}
                            <p><small>
                                <a href="{% url 'appproducts' %}?category={{ product.category.name }}">
                                   <i class="material-icons label-icon">local_offer</i> {{ product.category.friendly_name }}
                                </a>
                            </small></p>
                        {% endif %}
                        {% if product.rating %}
                            <small>
                                <i class="material-icons rate-icon">grade</i> {{ product.rating }} / 5
                            </small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">
                            {{ product.name }}
                            <i class="material-icons right">close</i>
                        </span>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="fixed-action-btn">
        <a class="btt-link btn-floating btn-large black">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        })
    </script>
{% endblock %}
