{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">

    </div>
{% endblock %}

{% block hero %}
    <div class="row">
        <div class="col s12 m6">
            <h3>Every moment has a story!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p><br>
            <a class="waves-effect waves-light btn">View More</a>
        </div>
        <div class="col s12 m6">
            <h3>Every moment has a story!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p><br>
            <a class="waves-effect waves-light btn">View More</a>
        </div>
    </div>
    <div class="divider"></div>
{% endblock %}